@model Cruises.Domain.ViewAdapter.Breadcrumbs
<div class="breadcrumb">
    <nav>
        <ul>
            @*TODO: Render bread crumbs*@
            <li>Breadcrumb sample 1</li>
        </ul>
    </nav>
</div>