@* TODO *@
<a href="#" class="footerLogo"><img src="/Images/logo2.png" alt="" /></a>
<nav>
    <ul>
        <li><a href="#">About us</a></li>
    
        <li><a href="#">Contact us</a></li> 
        <li><a href="#">Booking terms & conditions</a></li>
        <li><a href="#">Site terms</a></li>
        <li><a href="#">Media enquiries</a></li>
    </ul>
    <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">Advertise with us</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Travel blog</a></li>
        <li><a href="#">Site map</a></li>
        <li><a href="#">ebookers for Travel Agents</a></li>
        <li><a href="#">ebookers mobile site</a></li>
        <li><a href="#">White label</a></li>
    </ul>
</nav>
<section>
    Holiday packages which include flights are ATOL protected by the CAA. ATOL number ATOL 2562 as we act as agent for licensed tour operators. The names and ATOL numbers of these tour operators are displayed prior to booking such holidays. Accredited by IATA. Website operated by Flightbookers Limited, registered in England with number 01616788, registered office is: 5th floor, 140 Aldersgate Street, London EC1A 4HY.
</section>
<figure>
    <img src="/Images/footerImgs.png" alt="" />
    <img src="/Images/footerImgs.png" alt="" />
    <img src="/Images/footerImgs.png" alt="" />
    <img src="/Images/footerImgs.png" alt="" />
</figure>