<!--header starts here-->
<section class="topHeader">

	<a href="@Url.Action(MVC.Home.Index())" class="logo" title="helloworld"><img src="~/Images/logo.png" alt="helloworld logo"/></a>

	<ul class="topNav">
		<li>
			<a href="#">Sign In</a>
		</li>
		<li>
			<a href="#">Register</a>
		</li>
		<li>
			<a href="#">Write A Review</a>
		</li>
		<li class="last">
			<a href="#">Currency Converter</a>
		</li>
	</ul>
</section>
<nav class="bottomHeader">
    <ul class="mainHeader">
        <li title="Home">
            <a href="@Url.Action(MVC.Home.Index())" title="Home">Home</a>
        </li>
        <li>
            <a href="#" title="Flights">Flights</a>
        </li>
        <li>
            <a href="#" title="Hotel">Hotel</a>
        </li>
        <li>
            <a href="#" title="Flight + Hotel">Flight + Hotel</a>
        </li>
        <li>
            <a href="#" title="Car Hire">Car Hire</a>
        </li>
        <li  class="active">
            <a href="@Url.Action(MVC.Search.AdvancedSearch())" title="Cruises" class="active">Cruises</a>
        </li>
        <li>
            <a href="#" title="Deals">Deals<span class="new"></span></a>
        </li>
        <li>
            <a href="#" title="Holiday">Holiday</a>
        </li>
        <li>
            <a href="#" title="Extras">Extras</a>
        </li>
    </ul>
	<ul class="customerNav">
		<li>
			<a href="#" >Customer Service</a>
		</li>
		<li>
			<a href="#" class="booking">My Booking</a>
		</li>
		<li>
			<a href="#" class="account">My Account</a>
		</li>
	</ul>
</nav>
<!--header ends here-->
