<h3 class="active">Terms &amp; Conditions</h3>
<div class="accordContent"><p>
                              @{ Html.RenderAction(MVC.Settings.Actions.GetTermsAndConditions()); } 
                           </p></div>
<h3>Passports, Visas and Health Requirements</h3>
<div class="accordContent">
    <p>Visas, including transit visas, are the passenger's own responsibility. For more information please log on to: www.dfat.gov.au or www.smarttraveller.gov.au. Please check with the respective Embassy or Consulate of each country that you are travelling to, as many destinations require visas for both Australians and non-Australian passport holders. For more information, log on to www.visalink.com.au. You need to ensure that you have at least 6 months validity on your passport from the date of your return.</p>
    <p>International travellers booked on flights to the United States, including Hawaii, it is now mandatory, under the Visa Waiver Program to receive an electronic authorisation known as ETSA (Electronic System for Travel Authorisation) no less than 72 hours before travel to the USA. Please note that you must ensure you have a copy of the ESTA documentation on hand to present at check in. Passengers who fail to complete their application may be refused boarding by the airline. This can be obtained from the following Website: <a href="https://esta.cbp.dhs.gov/esta/">https://esta.cbp.dhs.gov/esta/</a></p>
    <p>It is your responsibility to ensure that you are aware of any health requirements for your travel destinations. Vaccinations are strongly recommended for certain destinations. You need to contact your local doctor who will advise you of these requirements. Please note that vaccinations may be recommended some period in advance of travelling.</p>
</div>
