<div class="cabin-details">
    <span>choose your own room allocation </span>
    <div class="more-cabin-info">
        <div class="mci-inner">
            <h3>
                Standard Cruise Options</h3>
            <p>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </p>
            <span></span>
        </div>
    </div>
</div>
