<section class="banner">
    <ul class="slider">
        <li>
            <img src="@Url.Content("~/images/banners/banner.jpg")" alt="" />
        </li>
        <li>
            <img src="@Url.Content("~/images/banners/banner.jpg")" alt="" />
        </li>
    </ul>
</section>
