@* Promo Block *@
<ul class="promo-block">
    <li><a href="/cruises/cruise-lines/carnival-australia" ><img src="images/promo-block/img9.png" alt="" /></a></li>
    <li><a href="/cruises/cruise-lines/norwegian-cruise-lines" ><img src="images/promo-block/img10.png" alt="" /></a></li>
    <li class="last"><a href="/cruises/cruise-lines/holland-america-line" ><img src="images/promo-block/img11.png" alt="" /></a></li>
    <li><a href="/cruises/regions/oceana" ><img src="images/promo-block/img12.png" alt="" /></a></li>
    <li><a href="cruises/regions/caribbean" ><img src="images/promo-block/img13.png" alt="" /></a></li>
    <li class="last"><a href="cruises/regions/europe" ><img src="images/promo-block/img14.png" alt="" /></a></li>
</ul>
