@model Cruises.Domain.ViewAdapter.Home.SitemapPage
@{
    this.Layout = MVC.Shared.Views.Masters._Layout;
}

<div class="breadcrumb">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Sitemap</li>
        </ul>
    </nav>
</div>

<section id="Sitemap">
    <h2>@Model.Title</h2>
        <section id=section1>
     
               <article id="home">           
                       <header> 
                           <h2>
                            Home
                           </h2>
                       </header>
            
                    <div>
                        <ul title="Home">
                            <li>
                                <a href="/">Cruise Deals by Cruise Lines >></a>
                            </li>
                        </ul>              
                    </div>
               </article>
    
 
    
              <article id="SpecialDeals">
      	         <header><h2>Cruise Special Deals</h2></header>                                                                                                                                                                                                                         <div>
            <ul title="SpecialDeals">
                <li>
                    <a href="/">Cruise Deals by Cruise Lines >></a>
                </li>
                <li>
                    <a href="/">Cruise Deals by Ports >></a>
                </li>
                <li>
                    <a href="/">Cruise Deals by Region >></a>
                </li>
                <li>
                    <a href="/">Niche Cruise Deals >></a>
                </li>
                <li>
                    <a href="/">Special Deals >></a>
                </li>
                <li>
                    <a href="/">Luxury Cruise Deals>></a>
                </li>
                <li>
                    <a href="/">Last Minute Cruise Deals >></a>
                </li>
                <li>
                    <a href="/">Close to Home Cruise Deals >></a>
                </li>
                <li>
                    <a href="/">Cheap Cruise Deals >></a>
                </li>
                <li>
                    <a href="/">Fly/Cruise Deals >></a>
                </li>
            </ul>
        </div>
              </article>
   
 
    
               <article id="Competitions">            
                   <header> <h2>
                    Competitions
                </h2></header>
            
                   <div>
                        <ul>
                            <li>
                                <a href="/">Current Competitions >></a>
                            </li>
                            <li>
                                <a href="/">Competition Archive >></a>
                            </li>              
                        </ul>
                    </div>
               </article>
    
 
     
               <article id="Cruises">           
                    <header><h2>
                    Cruises
                </h2></header>
           
                    <div>
                        <ul>
                            <li>
                                 <a href="/">Advanced Search >></a>
                            </li>
                            <li>
                                 <a href="/">Cruise Deals from Australia >></a>
                            </li>               
                        </ul>
                    </div>
               </article>
   
          </section>   
  
         <section id=section2>
  
               <article id="News">           
                   <header><h2>
                    News
                </h2></header>
           
                   <div>
                        <ul>
                            <li>
                                 <a href="/">Up to date >></a>
                            </li>
                            <li>
                                <a href="/">News Archive >></a>
                            </li>              
                        </ul>
                    </div>
               </article>
    
 
    
               <article id="Newsletter">           
                   <header><h2>
                    Newsletter
                </h2></header>
           
                   <div class="Sitemap-Section-Items">
                        <ul>
                            <li>
                                 <a href="/">Latest >></a>
                            </li>
                            <li>
                                 <a href="/">Newsletter Archive >></a>
                            </li>
                            <li>
                                 <a href="/">Manage My Subscriptions / Unsubscribe >></a>
                            </li>  
                            <li>
                                 <a href="/">Newsletter FAQ & Help >></a>
                            </li>                 
                        </ul>
                 </div>
               </article>
    
 
    
               <article id="Company Information">           
                   <header> <h2>
                    Company Information
                </h2></header>
           
                   <div class="Sitemap-Section-Items">
                       <ul>
                           <li><a href="/">About Best Cruises >></a> </li>
                           <li><a href="/">Contact Us >></a> </li>
                           <li><a href="/">Testimonials >></a> </li>
                           <li><a href="/">Awards >></a> </li>
                           <li><a href="/">Terms & Conditions >></a> </li>
                           <li><a href="/">Privacy Policy >></a> </li>
                       </ul>
                    </div>
               </article>
   
              </section>   
        </section>
<aside id="Promo">

 	
    <figure>
        <img src="images/promo.jpg" alt="Promo"></img>
    </figure>
    <h3>More Text</h3>
     <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor dictum condimentum. Nulla consectetur imperdiet est quis mattis. 
                Aenean molestie eros vitae tellus tincidunt malesuada. Suspendisse quis justo sapien, nec scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     </p>
             
</aside>
