@model Cruises.Domain.ViewAdapter.ErrorPage

<section class="error">
    <h1>Page Not Found - Error 404</h1>

    <article class="message">
        <section class="message-content">
            <img src="/Images/error.png" alt="Error">
            <h2>Apologies</h2>
            <p>The page you requested is no longer here.</p>
            <p class="yellow">Perhaps you could try:</p>
            <p class="blue"><a>Home Page &raquo;</a></p>
            <p class="blue"><a>Site Map &raquo;</a></p>
        </section>
    </article>
</section>
@Html.Partial(MVC.Shared.Views.Widgets._Populars)
