@{
    this.Layout = MVC.Shared.Views.Masters._CbeLayout;    
}

<section class="noResult">
    <article class="message">
        <section class="message-content">
            <img src="/Images/error.png" alt="Error">
            <h2>Apologies</h2>
            <p>An error has occured</p>
            <p>with your booking</p>
            <p class="yellow">Please</p>
            <p class="yellow">contact us on</p>
            <p class="yellow">1300 795 630</p>
        </section>
    </article>
</section>