<section class="social">
	<h3>Follow us:</h3>
	<ul class="socialIcon">
		<li><a href="https://www.facebook.com/helloworldau" ><img src="@Url.Content("~/images/social/facebook.png")" alt="facebook" /></a></li>
		<li><a href="https://twitter.com/helloworldau" ><img src="@Url.Content("~/images/social/twitter.png")" alt="twitter" /></a></li>
		<!--<li><a href="#" ><img src="@Url.Content("~/images/social/youtube.png")" alt="youtube" /></a></li>-->
		<li><a href="https://plus.google.com/106990924628288971151" ><img src="@Url.Content("~/images/social/googleplus.png")" alt="googleplus" /></a></li>
	</ul>
</section>
