<section class="signUp">
	<form action="" method="post">
		<h3>Sign up for news</h3>
		<p>Access to sales and exclusive promotions from us.</p>
		<span><input type="text" placeholder="YOUR EMAIL ADDRESS"/><input type="submit"  value="SEND"/></span>
	</form>
</section>
