<script type='text/javascript'>
    //      This code will load the GPT library from http(s)://www.googletagservices.com/tag/js/gpt.js.
    var googletag = googletag || {};

    googletag.cmd = googletag.cmd || [];
    (function () {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    }
        )();
</script>
<script type='text/javascript'>
    googletag.cmd.push(function () {
        googletag.defineSlot('/51621329/jtga/en/cruise/100/fx_3', [[300, 250], [336, 280]], 'gpt-ad').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>
<figure class="advertise">
    <div id="gpt-ad">
        <script type='text/javascript'>
            googletag.cmd.push(function () { googletag.display('gpt-ad'); });
        </script>
    </div>
</figure>
